.boton{
	width: 240px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: $box-shadow;
	p{
		color: white;
		margin: 0;
		font-size: 2em;
		font-weight: 700;
	}
}

@media (max-width: 640px){
	.boton{
		p{
			font-size: 1.5em;
		}
	}
}

@media (max-width: 401px){
	.boton{
		p{
			font-size: 1em;
		}
	}
}