.fichas{
	background-color: $blue;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 30px;
	img{
		height: auto;
	}
	p{
		color: white;
		margin: 0;
		text-align: center;
		padding-bottom: 5px;
		margin-top: 5px;
		border-bottom: 1px solid #38697C;
	}
	p:first-child{
		margin-top: 0;
	}
	p:last-child{
		border: none;
	}
	&-nombre{
		font-weight: 700;
		font-size: 1.2em;
	}
	&-director{
		font-style: italic;
	}
	iframe{
		position: absolute;
		display: none;
		width: 80vw;
		height: 80vh;
		left: calc(50vw - (80vw / 2));
		z-index: 99999;
	}
	&-top{
		position: relative;
		img{
			height: 100px;
		}
		i{
			color: white;
			font-size: 1.5em;
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}
}

#currentlyPlaying{
	animation-name: videoYTentry;
	animation-duration: .2s;
}


//Animation video

@keyframes videoYTentry{
	from{transform: scale(0);}
	to{transform: scale (1);}
}