#bio-container{
	.bio-header{
		background-color: $yellow;
	}
	.bio-content{
		position: relative;
		img{
			position: absolute;
			top: -92px;
			left: -140px;
		}
		h4{
			margin-bottom: 75px;
			font-size: 2em;
		}
		h1{
			margin-bottom: 100px;
			font-weight: 900;
			font-size: 6em;
		}
		.bio-button{
			background-color: $blue;
			margin-bottom: 75px;	
		}
		.bio-button:hover{
			background-color: $soft-blue;
		}
	}
}

@media (max-width: 1025px){
	#bio-container{
		.bio-content{
			img{
				left: -160px;
			}
			h4{
				margin-bottom: 35px;
			}
			h1{
				margin-bottom: 50px;
				font-size: 5em;
			}
			#galeria{
				margin-bottom: 42px;
			}
		}
	}
}

@media (max-width:830px){
	#bio-container{
		.bio-content{
			padding-right: 20px;
			img{
				left: -200px;
			}
			h4{
				font-size: 1.5em;
			}
			#galeria{
				margin-bottom: 53px;
			}
			.bio-button{
				padding-right: 10px;
			}
		}
	}
}

@media (max-width: 760px){
	#bio-container{
		.bio-content{
			h1{
				font-size: 4em;
				margin-bottom: 73px;
			}

		}
	}
}

@media (max-width:640px){
	#bio-container{
		.bio-content{
			padding-right: 0;
			img{
				position: static;
				width: 100%;
				height: 100%;
			}
			h4{
				margin-bottom: 40px; 
			}
			h1{
				margin-bottom: 70px;
				font-size: 5em;
			}
			.bio-button, #galeria{
				margin-bottom: 0;
			}
		}
	}
}

@media (max-width: 501px){
	#bio-container{
		.bio-content{
			h4{
				font-size: 1.6em;
			}
			h1{
				font-size: 4em;
			}
		}
	}
}

@media (max-width: 401px){
	#bio-container{
		.bio-content{
			h4{
				font-size: 1.4em;
			}
			h1{
				font-size: 3em;
			}
		}
	}
}