#contacta-container{
	padding-bottom: $divider;
	.contacta-header{
		background-color: $yellow;
	}
	.contacta-content{
		position: relative;
		button{
			background-color: $yellow;
			margin-left: 15px;
			transition: 0.4s;
		}
		button:hover{
			background-color: $soft-yellow;
		}
		input, textarea{
			border-radius: 5px;
		}
		label{
			font-size: 1.2em;
			font-weight: 700;
		}
		form{
			padding-left: 15px;
		}
		.form-last{
			margin-bottom: $divider;
			.form-last-contact{
				color: $dark-blue;
				padding: 10px;
				font-weight: 700;
				text-align: right;
				i{
					margin-top: 3px;
					font-size: 1.5em;
				}
				p{
					margin:0;
				}
			}
		}
		img{
			position: absolute;
			right: -10px;
			bottom: -44px;
			height: 133%;
			width: auto;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}
}

@media (max-width: 820px){
	#contacta-container{
		.contacta-content{
			form{
				button{
					p{
						font-size: 1.5em;
					}
				}
			}
			.form-last{
				&-contact{
					p{
						font-size: 0.7em;
						padding-top: 1em;
					}
				}
			}
			img{
				right: -50px;
			}
		}
	}
}

@media(max-width: 641px){
	#contacta-container{
		padding-bottom: 0;
		.contacta-content{
			form{
				padding: 0 10px;
			}
			.form-last{
				margin-bottom: 0;
			}
			img{
				position: static;
				width: 100%;
				padding: 0;
			}
		}
	}
}

@media (max-width: 432px){
	.form-last{
		&-contact{
			p{
				font-size: 0.7em;
				padding-top: 1em;
			}
		}
	}
}
