#cv-container{
	.cv-header{
		background-color: $yellow;
	}
	.cv-content{
		&-videos{
			background-color: white;
			border-radius: 2px;
			box-shadow: $box-shadow;
			margin: 0 15px 50px 15px;
			ul{
				display: flex;
				justify-content: space-around;
				li{
					a{
					color: $yellow;
					font-family: 'Bree Serif', serif;
					font-size: 1.5em;
					text-align: center;
					}
				}
				li.is-active{
					a{
						color: white;
						background-color: $yellow;
					}
				}
			}
		}
	}
}

@media (max-width: 500px){
	#cv-container{
		.cv-content{
			&-videos{
				ul{
					li{
						a{
							font-size: 1.1em;
						}
					}
				}
			}
		}	
	}
}

@media (max-width: 400px){
	#cv-container{
		.cv-content{
			&-videos{
				ul{
					li{
						a{
							font-size: .9em;
						}
					}
				}
			}
		}	
	}
}