#footer-container{
	padding: $baseline 0;
	background-color: $dark-blue;
	img{
		width: 100px;
		height: auto;
	}
	nav{
		ul{
			margin-bottom: $baseline;
			display: flex;
			justify-content: space-between;
			li{
				a{
					color: white;
					font-size: 1.2em;
					font-weight: 700;
				}
				a:hover{
					color: $yellow;
				}
			}
		}
	}
	.footer-icons{
		justify-content: space-between;
		margin-left: 10px;
		display: flex;
		i{
			font-size: 2em;
			color: white;
			padding: 20px;
		}
		i:hover{
			color: $yellow;
		}
	}
}

@media (max-width: 750px){
	#footer-container{
		img{
			width: 132px;
		}
		nav{
			ul{
				li{
					a{
						font-size:1.1em;
					}
				}
			}
		}
		.footer-icons{
			i{
				padding: 10px;
			}
		}
	}
}

@media (max-width: 641px){
	#footer-container{
		nav{
			ul{
				li{
					a{
						font-size:1em;
						padding: 0;
					}
				}
			}
		}
	}
}