#footer-container{
	padding: $baseline 0 $divider 0;
	background-color: $dark-blue;
	#footer-logo{
		width: 100px;
		height: auto;
	}
	nav{
		ul{
			margin-bottom: $baseline;
			display: flex;
			justify-content: space-between;
			li{
				a{
					color: white;
					font-size: 1.2em;
					font-weight: 700;
					transition: 0.4s;
				}
				a:hover{
					color: $white-hover;
				}
			}
		}
	}
	.footer-icons{
		justify-content: space-between;
		margin-left: 10px;
		display: flex;
		i{
			font-size: 2em;
			color: white;
			padding: 20px;
			transition: 0.4s;
		}
		i:hover{
			color: $white-hover;
		}
		.footer-cine-media{
			margin-top: 20px;
			height: 30px;
		}
		.footer-cine-media:hover{
			opacity: $img-opacity;
		}
	}
	.footer-autor{
		a{
			color: white;
			font-size: .5em;
			margin-bottom: 0;
		}
		p{
			margin-bottom: 0;
		}
		color: white;
		position: absolute;
		bottom:10px;
		right: 20px;
		text-align: center;
	}
}

@media (max-width: 750px){
	#footer-container{
		#footer-logo{
			width: 132px;
		}
		nav{
			ul{
				li{
					a{
						font-size:1.1em;
					}
				}
			}
		}
		.footer-icons{
			i{
				padding: 10px;
			}
			.footer-cine-media{
				margin-top: 10px;
			}
		}
	}
}

@media (max-width: 641px){
	#footer-container{
		#footer-logo{
			margin-bottom: 10px;
		}
		nav{
			ul{
				li{
					a{
						font-size:.8em;
						padding: 0;
					}
				}
			}
		}
	}
	.footer-autor{
		display: none;
	}
}
