#galeria-container{
	position: relative;
	.galeria-header{
		background-color: $blue;
	}
	.galeria-content{
		&-pic{
			margin-bottom: 20px;
			img{
				cursor: pointer;
			}
		}
	}
}

.img-modal{
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 99999;
	max-height: 85vh;
	width: auto;
}
