#logo-container{
	margin-bottom: $baseline;
	#logo-logo{
		width: 385px;
		height: auto;
	}
	#logo-logo:hover{
		opacity: $img-opacity;
	}
	i{
		font-size: 2.5em;
		padding: 10px;
		color: $yellow;
	}
	i:hover{
		opacity: $img-opacity;
	}
	.logo-cine-media{
		height: 40px;
		padding-right: 10px;
	}
	.logo-cine-media:hover{
		opacity: $img-opacity;
	}
}



@media (max-width: 821px){
	#logo-container{
		i{
			font-size: 2em;
			padding: 5px;
		}
		.logo-cine-media{
			height: 30px;
			padding-right: 7px;
		}
	}
}

@media (max-width: 640px){
	#logo-container{
		padding: 0 10px;
	}
}