#logo-container{
	margin-bottom: $baseline;
	img{
		width: 385px;
		height: auto;
	}
	i{
		font-size: 2.5em;
		padding: 10px;
		color: $yellow;
	}
	i:hover{
		color: $soft-yellow;
		transition: .3s;
	}
}
@media (max-width: 821px){
	#logo-container{
		i{
			font-size: 2em;
			padding: 5px;
		}
	}
}

@media (max-width: 640px){
	#logo-container{
		padding: 0 10px;
	}
}