#navbar-container{
	background-color: $dark-blue;
	padding: .5em;
	margin-bottom: $baseline;
	img{
		margin-top: 5px;
		min-width: 200px;
		max-width: 200px;
	}
	#menu-container{
		a{
			color: white;
			font-weight: 700;
		}
		a:hover{
			color: $yellow;
		}
		.burguer-button{
			margin-right: 20px;
			i{
				color: white;
				font-size: 2em;
				margin-right: 5px;
			}
		}
	}
}

.sticky{
	position: fixed;
	width: 100%;
	z-index: 99999;
	animation-name: stickyHeader;
	animation-duration: .5s;
}

@media(max-width: 700px){
	#navbar-container{
		#menu-container{
			a{
				font-size: 1em;
				padding: 8px;
			}
		}
	}
}

//ANIMATION

@keyframes stickyHeader{
	from{top: -100px;}
	to{top: 0;}
}