.off-canvas{
	background-color: $blue;
	z-index: 10;
}

#menu-title{
	text-align: center;
	color: white;
	font-size: 2em;
	margin-top: 10px;
}

.off-canvas-wrap{
	background-color: $blue;
	border: none;
	#nav-off-canvas{
		margin-top: 50px;
		margin-bottom: 50px;
		border: none;
		li{
			background-color: $blue;
			font-weight: 700;
			text-align: center;
			a{
				color: $yellow;
				font-size: 1.1em;
				margin-top: 10px;
				border-bottom: 1px solid $soft-blue;
			}
		}
	}
	.menu-autor{
		text-align: center;
		a{
			color: white;
		}
		p{
			font-size: .6em;
			margin-bottom: 0;
		}
	}
}

@media (max-width: 400px){
	.off-canvas-wrap{
		#nav-off-canvas{
			margin-bottom: 25px;
		}
	}
}