#trabajos-container{
	padding-bottom: $divider;
	.trabajos-header{
		background-color: $blue;
	}
	.trabajos-content{
		.trabajos-topics{
			background-color: white;
			padding-right: 10px;
			border-radius: 2px;
			box-shadow: $box-shadow;
			padding: 10px;
			margin-bottom: $divider;
			h3{
				color: $yellow;
				font-family: 'Bree Serif', serif;
			}
		}
	}
	.trabajos-button{
		background-color: $yellow;
		margin: 0 auto;
		transition: 0.4s;
	}
	.trabajos-button:hover{
		background-color: $soft-yellow;
	}
}

@media (max-width: 750px){
	#trabajos-container{
		.trabajos-content{
			.trabajos-topics{
				h3{
					font-size: 1.2em;
				}
			}
		}
	}
}

@media(max-width: 641px){
	#trabajos-container{
		.trabajos-content{
			.trabajos-topics{
				h3{
					font-size: 2em;
				}
			}
		}
	}
}
