#video-container{
	margin-bottom: $divider;
	iframe{
		height: 460px;
	}
}

@media (max-width: 769px){
	#video-container{
		iframe{
			height: 350px;
		}
	}
}

@media (max-width: 640px){
	#video-container{
		padding-top: $baseline;
	}
}

@media (max-width: 600px){
	#video-container{
		iframe{
			height: 200px;
		}
	}
}
