<section id="bio-container" data-magellan-target="nav-bio">
	<div class="bio-header section-header">
		<div class="row">
			<h2 class="column small-offset-3">¡Hola!</h2>
		</div>
	</div>
	<div class="bio-content">
		<div class="row">
			<img src="../assets/img/roman-bio.png" class="show-for-medium" alt="roman-bio">
			<h4 class="column small-12 medium-6 medium-offset-6 text-right">Me llamo Roman Rymar y...</h4>
			<h1 class="column small-12 medium-offset-4 medium-8 text-right">SOY ACTOR.</h1>
			<a href="#" id="galeria" class="boton bio-button column small-4 small-offset-1 medium-offset-7 medium-5 large-offset-5 large-3">
				<p>Galería</p>
			</a>
			<a href="/about.html" class="boton bio-button column small-4 small-offset-2 medium-5 medium-offset-7 large-offset-1 large-3">
				<p>Conóceme</p>
			</a>
			<img src="../assets/img/roman-bio-mobile.png" class="show-for-small-only" alt="roman-bio">
		</div>
	</div>
</section>