<section id="bio-container">
	<div class="bio-header section-header">
		<div class="row">
			<h2 class="column small-offset-3">¡Hola!</h2>
		</div>
	</div>
	<div class="bio-content">
		<div class="row">
			<img src="../assets/img/roman-bio.png" class="show-for-medium" alt="roman-bio">
			<h4 class="column small-12 medium-6 medium-offset-6 text-right">Me llamo Roman Rymar y...</h4>
			<h1 class="column small-12 medium-offset-4 medium-8 text-right">SOY ACTOR.</h1>
			<a href="#" class="boton bio-button column small-4 small-offset-1 medium-offset-4 medium-3">
				<p>Galería</p>
			</a>
			<a href="#" class="boton bio-button column small-4 small-offset-2 medium-3 medium-offset-2">
				<p>Conóceme</p>
			</a>
			<img src="../assets/img/roman-bio-mobile.png" class="show-for-small-only" alt="roman-bio">
		</div>
	</div>
</section>