<section id="bio-container">
	<div class="bio-header">
		<div class="row">
			<h2 class="column small-offset-3">¡Hola!</h2>
		</div>
	</div>
	<div class="bio-content">
		<div class="row">
			<img src="../assets/img/roman-bio.png" alt="roman-bio">
			<h4 class="column medium-6 medium-offset-6 text-right">Me llamo Roman Rymar y...</h4>
			<h1 class="column medium-offset-4 medium-8 text-right">SOY ACTOR.</h1>
			<a href="#" class="bio-button column medium-offset-4 medium-3">
				<p>Galería</p>
			</a>
			<a href="#" class="bio-button column medium-3 medium-offset-2">
				<p>Conóceme</p>
			</a>
		</div>
	</div>
</section>