<section id="contacta-container" data-magellan-target="nav-contacta">
	<div class="contacta-header section-header">
		<div class="row">
			<h2 class="column small-offset-4 medium-offset-3 large-offset-4">Contacta</h2>
		</div>
	</div>
	<div class="contacta-content">
		<div class="row">
			<form action="https://formspree.io/pgarciaegido@gmail.com" method="POST" class="col small-12 medium-6 large-8">
				<label for="name">Nombre
					<input type="text" name="nombre" placeholder="Roman Rymar">
				</label>
				<label for="email">Email
					<input type="email"  name="email" placeholder="tuemail@ejemplo.com">
				</label>
				<label for="asunto">Asunto
					<textarea name="asunto" id="" cols="30" rows="8"></textarea>
				</label>
				<div class="row form-last">	
					<button type="submit" class="column small-3 boton form-button"><p>Enviar</p></button>
					<div class="column small-offset-2 form-last-contact small-6 medium-6">
						<div class="form-last-contact-phone row">
							<p class="column text-right">605 51 38 88</p>
							<i class="fa fa-phone"></i>
						</div>
						<div class="form-last-contact-mail row">
							<p class="column text-right">CD-Rom@hotmail.com</p>
							<i class="fa fa-envelope"></i>
						</div>
					</div>
				</div>
			</form>
			<img src="./assets/img/roman-form.png" alt="Roman-Form" class="column show-for-medium">
			<img src="./assets/img/roman-form-mobile.png" alt="Roman-Form" class="show-for-small-only">
		</div>
	</div>
</section>