<div id="panelClips" class="tabs-panel fichas-container">
	<div class="row">
		<div class="column small-12 medium-4 large-3 text-center"><!-- fichas MALU-->
			<div class="fichas">
				<div class="fichas-top">
					<img src="./assets/img/videos/malu.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Malú"</p>
				<iframe src="https://www.youtube.com/embed/QH8NsIZDam8" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column small-12 medium-4 large-3 text-center"><!-- fichas IM PROUD-->
			<div class="fichas">
				<div class="fichas-top">
					<img src="./assets/img/videos/im proud 2.jpg" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"I'm proud"</p>
				<iframe src="https://www.youtube.com/embed/mdS2YoiWT0A" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column small-12 medium-4 large-3 text-center"><!-- fichas RENKOR-->
			<div class="fichas">
				<div class="fichas-top">
					<img src="./assets/img/videos/renkor.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Renkor"</p>
				<iframe src="https://www.youtube.com/embed/ITwoKsSOsmY" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column small-12 medium-4 large-3 text-center"><!-- fichas THE GARAGE PLAYERS-->
			<div class="fichas">
				<div class="fichas-top">
					<img src="./assets/img/videos/garaje players.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"The Garage Players"</p>
				<iframe src="https://www.youtube.com/embed/7QsxSXxgvgc" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column small-12 medium-4 large-3 text-center"><!-- fichas VAYA CUADRO-->
			<div class="fichas">
				<div class="fichas-top">
					<img src="./assets/img/videos/vaya cuadro.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Vaya Cuadro"</p>
				<iframe src="https://www.youtube.com/embed/aTRcGP7qxog" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>