<div id="panelFiccion" class="tabs-panel is-active fichas-container">
	<div class="row">
		<div class="column small-12 medium-4 large-3 text-center"><!-- fichas HEROES DEL MAL -->
			<div class="fichas">
				<div class="fichas-top">
					<img src="./assets/img/videos/heroes del mal.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Heroes del mal"</p>
				<iframe src="https://www.youtube.com/embed/gOdr7wzzbQ4" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column small-12 medium-4 large-3 text-center"><!-- fichas BARCELO-->
			<div class="fichas">
				<div class="fichas-top">
					<img src="./assets/img/videos/ron barcelo - desalia.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Ron Barcelo"</p>
				<iframe src="https://www.youtube.com/embed/ODBl70VjT-4" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column small-12 medium-4 large-3 text-center"><!-- fichas NARCOLEPSIA -->
			<div class="fichas">
				<div class="fichas-top">
					<img src="./assets/img/videos/narcolepsia.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Narcolpsia"</p>
				<iframe src="https://www.youtube.com/embed/tbYaMuuRc_g" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column small-12 medium-4 large-3 text-center"><!-- fichas COSMETICA TERROR-->
			<div class="fichas">
				<div class="fichas-top">
					<img src="./assets/img/videos/cosmetica terror.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Cosmética Terror"</p>
				<iframe src="https://www.youtube.com/embed/YyD59zQ7gZI" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column small-12 medium-4 large-3 text-center"><!-- fichas AH DIVINA -->
			<div class="fichas">
				<div class="fichas-top">
					<img src="./assets/img/videos/ah divina.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Ah Divina"</p>
				<iframe src="https://www.youtube.com/embed/1DGolZFpJOQ" frameborder="0" allowfullscreen></iframe>				
			</div>
		</div>
		<div class="column small-12 medium-4 large-3 text-center"><!-- fichas SE QUE ESTARÉ -->
			<div class="fichas">
				<div class="fichas-top">
					<img src="./assets/img/videos/se que estare.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Se que estaré"</p>
				<iframe src="https://www.youtube.com/embed/Qmo3HEKJiN4" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
