<div id="panelPublicidad" class="tabs-panel fichas-container">
	<div class="row">
		<div class="column small-12 medium-4 large-3 text-center">
			<div class="fichas"><!-- fichas DINEO-->
				<div class="fichas-top">
					<img src="./assets/img/videos/dineo.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Dineo"</p>
				<iframe src="https://www.youtube.com/embed/YLimuInz5Eo" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="fichas"><!-- fichas MAS MOVIL-->
				<div class="fichas-top">
					<img src="./assets/img/videos/mas movil.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Más Movil"</p>
				<iframe src="https://www.youtube.com/embed/u4fMAK27Hcs" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="fichas"><!-- fichas BELLA VITA-->
				<div class="fichas-top">
					<img src="./assets/img/videos/bella vita.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Bella Vita"</p>
				<iframe src="https://www.youtube.com/embed/KblQmadLaMU" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column small-12 medium-4 large-3 text-center">
			<div class="fichas"><!-- fichas MOVISTAR-->
				<div class="fichas-top">
					<img src="./assets/img/videos/movistar.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Movistar - El Partidazo"</p>
				<iframe src="https://www.youtube.com/embed/wUOhNTE-ATE" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="fichas"><!-- fichas VODAFONE-->
				<div class="fichas-top">
					<img src="./assets/img/videos/vodafone.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Vodafone"</p>
				<iframe src="https://www.youtube.com/embed/qREM373P3QU" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column small-12 medium-4 large-3 text-center">
			<div class="fichas"><!-- fichas SELF BANK-->
				<div class="fichas-top">
					<img src="./assets/img/videos/selfbank.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Selfbank"</p>
				<iframe src="https://www.youtube.com/embed/9gIQNcJXrr4" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="fichas"><!-- fichas CRAZYPARK-->
				<div class="fichas-top">
					<img src="./assets/img/videos/crazypark.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Crazypark"</p>
				<iframe src="https://www.youtube.com/embed/JFBF8xXaRxU" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column small-12 medium-4 large-3 text-center">
			<div class="fichas"><!-- fichas PIPAS FACUNDO-->
				<div class="fichas-top">
					<img src="./assets/img/videos/pipas facundo.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Pipas Facundo"</p>
				<iframe src="https://www.youtube.com/embed/qUuv1PZ23K4" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="fichas"><!-- fichas UMAMI-->
				<div class="fichas-top">
					<img src="./assets/img/videos/umami.png" height="100" alt="">
					<i class="fa fa-play"></i>
				</div>
				<p class="fichas-nombre">"Umami"</p>
				<iframe src="https://www.youtube.com/embed/173427734" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
