<footer id="footer-container">
	<div class="row">
		<img src="../assets/img/logo-vertical-white.svg" alt="logo" class="column medium-2 footer-logo">
		<nav class="column medium-offset-4 medium-5">
			<ul class="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Biografía</a></li>
				<li><a href="#">Trabajos</a></li>
				<li><a href="#">Galería</a></li>
				<li><a href="#">Contacta</a></li>
			</ul>
			<div class="footer-icons row">
				<a href=""><i class="fa fa-facebook-square"></i></a>
				<a href=""><i class="fa fa-twitter-square"></i></a>
				<a href=""><i class="fa fa-instagram"></i></a>
				<a href=""><i class="fa fa-film"></i>
				<a href=""><i class="fa fa-video-camera"></i></a>
			</div>
		</nav>
	</div>
</footer>