<section id="logo-container" class="text-center hide-for-small-only">
	<div class="row align-middle">	
		<div class="column medium-3 show-for-medium align-middle text-left">
			<a target="_blank" href="https://www.facebook.com/roman.rymar"><i class="fa fa-facebook-square"></i></a>
			<a target="_blank" href="https://twitter.com/RomanRymar"><i class="fa fa-twitter-square"></i></a>
			<a target="_blank" href="https://www.instagram.com/romanrymar/"><i class="fa fa-instagram"></i></a>
		</div>
		<div class="col small-12 medium-6">
			<a href="./index.html"><img id="logo-logo" src="./assets/img/logo-blue.svg" alt="Logo"></a>
		</div>
		<div class="column show-for-medium medium-3 align-middle text-right">
			<a target="_blank" href="http://www.imdb.com/name/nm7589532/"><img class="logo-cine-media" src="./assets/img/imdb.svg" alt="IMDB"></a>
			<a target="_blank" href="http://www.sensacine.com/actores/actor-748799/"><img class="logo-cine-media" src="./assets/img/scine.svg" alt="SensaCine"></a>
		</div>
	</div>
</section>