<section id="logo-container" class="text-center">
	<div class="row align-middle">	
		<div class="column medium-3 show-for-medium align-middle text-left">
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-twitter-square"></i>
			<i class="fa fa-instagram"></i>
		</div>
		<div class="col small-12 medium-6">
			<img src="../assets/img/logo-blue.svg" alt="Logo">
		</div>
		<div class="column show-for-medium medium-3 align-middle text-right">
			<i class="fa fa-film"></i>
			<i class="fa fa-video-camera"></i>
		</div>
	</div>
</section>