<section id="navbar-container">
	<div class="row align-middle">
		<div class="column small-7 medium-3">
			<img src="../assets/img/logo-white.svg" alt="logo">
		</div>
		<nav id="menu-container" class="column medium-9 right" data-magellan>
			<ul class="menu float-right show-for-medium">
				<li><a href="./">Home</a></li>
				<li><a id="nav-bio" href="./about.html">Biografía</a></li>
				<li><a id="nav-trabajos" href="#trabajos-container">Trabajos</a></li>
				<li><a href="#">Galería</a></li>
				<li><a id="nav-contacta" href="./#contacta-container">Contacta</a></li>
			</ul>
			<div data-toggle="offCanvas" class="column small-1 show-for-small-only float-right burguer-button">
				<i class="fa fa-bars"></i>
			</div>
		</nav>
	</div>
</section>