<!-- Este wrap ocupa todo el documento -->
<div class="off-canvas-wrap">
	<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
		<div id="offCanvas" class="off-canvas position-left" data-off-canvas>
			<h3 id="menu-title">Menú</h3>
			<nav id="nav-off-canvas" data-magellan>
				<ul class="menu vertical" data-drilldown>
					<li><a class="exit-off-canvas" href="#">Home</a></li>
					<li><a class="exit-off-canvas" href="#bio-container">Biografía</a></li>
					<li><a class="exit-off-canvas" href="#trabajos-container">Trabajos</a></li>
					<li><a class="exit-off-canvas" href="">Galería</a></li>
					<li><a class="exit-off-canvas" href="#contacta-container">Contacta</a></li>
				</ul>
			</nav>
		</div>
		<div class="off-canvas-content" data-off-canvas-content>
<!-- TOGGLER IN NAV -->