<!-- Este wrap ocupa todo el documento -->
<div class="off-canvas-wrap">
	<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
		<div id="offCanvas" class="off-canvas position-left" data-off-canvas>
			<h3 id="menu-title">Menú</h3>
			<nav id="nav-off-canvas" data-magellan>
				<ul class="menu vertical" data-drilldown>
					<li><a class="exit-off-canvas" href="./index.html">Home</a></li>
					<li><a class="exit-off-canvas" href="./about.html">Biografía</a></li>
					<li><a class="exit-off-canvas" href="./cv.html">Trabajos</a></li>
					<li><a class="exit-off-canvas" href="./galeria.html">Galería</a></li>
					<li><a class="exit-off-canvas" href="./index.html#contacta-container">Contacta</a></li>
				</ul>
			</nav>
			<div class="menu-autor">
				<a target="_blank" href="https://www.linkedin.com/in/pablo-garc%C3%ADa-egido-42115359?trk=nav_responsive_tab_profile_pic">
					<p class="menu-autor-texto">DESIGN &</br> DEVELOPMENT</p>
					<img src="./assets/img/pegido.svg" alt="Pablo Egido" class="menu-autor-logo">
				</a>
			</div>
		</div>
		<div class="off-canvas-content" data-off-canvas-content>
<!-- TOGGLER IN NAV -->