<section id="trabajos-container" data-magellan-target="nav-trabajos">
	<div class="trabajos-header section-header">
		<div class="row">
			<h2 class="column small-offset-5">Trabajos</h2>
		</div>
	</div>
	<div class="trabajos-content">
		<div class="row"> 
			<div class="column small-12 medium-4 text-center"> <!-- sections -->
				<div class="trabajos-topics large-24 columns">	
					<h3>Ficción</h3>
					<div class="fichas"><!-- fichas HEROES DEL MAL -->
						<div class="fichas-top">
							<img src="./assets/img/videos/heroes del mal.png" height="100" alt="">
							<i class="fa fa-play"></i>
						</div>
						<p class="fichas-nombre">"Heroes del mal"</p>
						<iframe src="https://www.youtube.com/embed/gOdr7wzzbQ4" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="fichas"><!-- fichas BARCELO-->
						<div class="fichas-top">
							<img src="./assets/img/videos/ron barcelo - desalia.png" height="100" alt="">
							<i class="fa fa-play"></i>
						</div>
						<p class="fichas-nombre">"Ron Barcelo"</p>
						<iframe src="https://www.youtube.com/embed/ODBl70VjT-4" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="column small-12 medium-4 text-center"> <!-- sections -->
				<div class="trabajos-topics large-24 columns">	
					<h3>Publicidad</h3>
					<div class="fichas"><!-- fichas PARAMOUNT-->
						<div class="fichas-top">
							<img src="./assets/img/videos/paramount.png" height="100" alt="">
							<i class="fa fa-play"></i>
						</div>
						<p class="fichas-nombre">"Paramount Chanel"</p>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/Wv-PxwTd-Yc" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="fichas"><!-- fichas VODAFONE-->
						<div class="fichas-top">
							<img src="./assets/img/videos/vodafone.png" height="100" alt="">
							<i class="fa fa-play"></i>
						</div>
						<p class="fichas-nombre">"Vodafone"</p>
						<iframe src="https://www.youtube.com/embed/qREM373P3QU" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="column small-12 medium-4 text-center"> <!-- sections -->
				<div class="trabajos-topics large-24 columns">	
					<h3>Clips | Teatro</h3>
					<div class="fichas"><!-- fichas MALU-->
						<div class="fichas-top">
							<img src="./assets/img/videos/malu.png" height="100" alt="">
							<i class="fa fa-play"></i>
						</div>
						<p class="fichas-nombre">"Malú"</p>
						<iframe src="https://www.youtube.com/embed/QH8NsIZDam8" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="fichas"><!-- fichas RENKOR-->
						<div class="fichas-top">
							<img src="./assets/img/videos/renkor.png" height="100" alt="">
							<i class="fa fa-play"></i>
						</div>
						<p class="fichas-nombre">"Renkor"</p>
						<iframe src="https://www.youtube.com/embed/ITwoKsSOsmY" frameborder="0" allowfullscreen></iframe>
					</div>
		</div>
	</div>
	<a href="./cv.html" class="boton trabajos-button"><p>Ver más</p></a>
</section>