<section id="trabajos-container" data-magellan-target="nav-trabajos">
	<div class="trabajos-header section-header">
		<div class="row">
			<h2 class="column small-offset-5">Trabajos</h2>
		</div>
	</div>
	<div class="trabajos-content">
		<div class="row">
			<!-- sections ficción -->
			<div class="column small-12 medium-4 text-center">
				<div class="trabajos-topics large-24 columns" id="index-cv-ficcion">
					<h3>Ficción</h3>
					<!-- APPEND HERE FROM CV.JS			 -->
				</div>
			</div>
			<!-- sections publicidad -->
			<div class="column small-12 medium-4 text-center">
				<div class="trabajos-topics large-24 columns" id="index-cv-publicidad">
					<h3>Publicidad</h3>
					<!-- APPEND HERE FROM CV.JS			 -->
				</div>
			</div>
			<!-- sections clips | teatro -->
			<div class="column small-12 medium-4 text-center">
				<div class="trabajos-topics large-24 columns" id="index-cv-clips">
					<h3>Clips | Teatro</h3>
					<!-- APPEND HERE FROM CV.JS			 -->
				</div>
		</div>
	</div>
	<a href="./cv.html" class="boton trabajos-button"><p>Ver más</p></a>
</section>
