<section id="trabajos-container">
	<div class="trabajos-header section-header">
		<div class="row">
			<h2 class="column small-offset-5">Trabajos</h2>
		</div>
	</div>
	<div class="trabajos-content">
		<div class="row"> 
			<div class="column small-12 medium-4 text-center"> <!-- sections -->
				<div class="trabajos-topics large-24 columns">	
					<h3>Ficción</h3>
					<div class="fichas"><!-- fichas -->
						<img src="../assets/img/roman-bio.png" height="100" alt="">
						<p class="fichas-nombre">"Más Movil"</p>
						<p class="fichas-director">Manolo</p>
						<p class="fichas-rol">Personaje principal</p>
						<p class="fichas-fecha">2016</p>
					</div>
					<div class="fichas"><!-- fichas -->
						<img src="../assets/img/roman-bio.png" height="100" alt="">
						<p class="fichas-nombre">"Más Movil"</p>
						<p class="fichas-director">Manolo</p>
						<p class="fichas-rol">Personaje principal</p>
						<p class="fichas-fecha">2016</p>
					</div>
					<div class="fichas"><!-- fichas -->
						<img src="../assets/img/roman-bio.png" height="100" alt="">
						<p class="fichas-nombre">"Más Movil"</p>
						<p class="fichas-director">Manolo</p>
						<p class="fichas-rol">Personaje principal</p>
						<p class="fichas-fecha">2016</p>
					</div>
				</div>
			</div>
			<div class="column small-12 medium-4 text-center"> <!-- sections -->
				<div class="trabajos-topics large-24 columns">	
					<h3>Publicidad</h3>
					<div class="fichas"><!-- fichas -->
						<img src="../assets/img/roman-bio.png" height="100" alt="">
						<p class="fichas-nombre">"Más Movil"</p>
						<p class="fichas-director">Manolo</p>
						<p class="fichas-rol">Personaje principal</p>
						<p class="fichas-fecha">2016</p>
					</div>
					<div class="fichas"><!-- fichas -->
						<img src="../assets/img/roman-bio.png" height="100" alt="">
						<p class="fichas-nombre">"Más Movil"</p>
						<p class="fichas-director">Manolo</p>
						<p class="fichas-rol">Personaje principal</p>
						<p class="fichas-fecha">2016</p>
					</div>
					<div class="fichas"><!-- fichas -->
						<img src="../assets/img/roman-bio.png" height="100" alt="">
						<p class="fichas-nombre">"Más Movil"</p>
						<p class="fichas-director">Manolo</p>
						<p class="fichas-rol">Personaje principal</p>
						<p class="fichas-fecha">2016</p>
					</div>
				</div>
			</div>
			<div class="column small-12 medium-4 text-center"> <!-- sections -->
				<div class="trabajos-topics large-24 columns">	
					<h3>Clips | Teatro</h3>
					<div class="fichas"><!-- fichas -->
						<img src="../assets/img/roman-bio.png" height="100" alt="">
						<p class="fichas-nombre">"Más Movil"</p>
						<p class="fichas-director">Manolo</p>
						<p class="fichas-rol">Personaje principal</p>
						<p class="fichas-fecha">2016</p>
					</div>
					<div class="fichas"><!-- fichas -->
						<img src="../assets/img/roman-bio.png" height="100" alt="">
						<p class="fichas-nombre">"Más Movil"</p>
						<p class="fichas-director">Manolo</p>
						<p class="fichas-rol">Personaje principal</p>
						<p class="fichas-fecha">2016</p>
					</div>
					<div class="fichas"><!-- fichas -->
						<img src="../assets/img/roman-bio.png" height="100" alt="">
						<p class="fichas-nombre">"Más Movil"</p>
						<p class="fichas-director">Manolo</p>
						<p class="fichas-rol">Personaje principal</p>
						<p class="fichas-fecha">2016</p>
					</div>
		</div>
	</div>
	<a href="#" class="boton trabajos-button"><p>Ver más</p></a>
</section>