{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>Roman Rymar - Actor</title>
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/faviconn.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
  <div id="dark-bg"></div>
  <i class="fa fa-times-circle-o icon-close" aria-hidden="true"></i>
    {{> off-canvas-menu}}
    {{> nav}}
    {{> logo}}
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
    {{> footer}}
        </div> <!--OFF CANVAS CONTENT-->
      </div><!--OFF CANVAS WRAPPER INNER -->
    </div> <!--OFF CANVAS WRAPPER -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script src="{{root}}assets/js/app.js"></script>

    <!-- WORKAROUND FOR TOGGLE BUTTONS WITH IOS -->
    <script>
        $(document).foundation();
        $('.burguer-button').on('click',function(){
        });
    </script>
  </body>
</html>
